---
name: message
resource: Customization
resource_owner: anyone
return_to: /contact_form/messages
configuration:
  properties:
    sender:
      validation:
        presence: true
    content:
      validation:
        presence: true
---
{% form html-class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' %}
    {% if form_builder.errors != blank %}
        <div class="alert alert-warning">
            There are errors in the form, please fix fields marked below.
            {{ form_builder.errors}}
        </div>
    {% endif %}
    <input type="hidden" name="redirect_to" value="{{ context.location.pathname }}">
    {% assign p = form_builder.fields.properties %}
    <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2"> Send us a message </label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                  type='text' id="content" name='{{ p.content.name }}'></textarea>
    </div>
    <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="email">We need your email so we can respond</label>
        <input class="shadow appearance-none border border-blue rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
               type='text' id="sender" name='{{ p.sender.name }}' placeholder='Your email' class="col-8 mr-2">
    </div>
    <div class="flex items-center justify-between">
        <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Send</button>
    </div>
{% endform %}
